@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
  .page {
    @apply flex flex-col items-center justify-center w-full;
  }
  .space {
    @apply h-full mt-[18vh] mb-[12vh];
  }
  .component {
    @apply h-full py-20;
  }
  .col {
    @apply flex flex-col w-full;
  }
  .row {
    @apply flex flex-row flex-wrap items-center justify-center;
  }
  .title {
    @apply text-6xl mb-12 max-md:text-5xl;
  }
}


html, body {
  background-color: rgb(20, 20, 20);
  color: rgb(22, 22, 22);
  background-image: linear-gradient(to bottom, transparent 20%, rgb(243, 243, 243) 20%),
                    linear-gradient(to right, rgb(190, 190, 190) 20%, rgb(243, 243, 243) 20%);
  background-size: 10px 10px, 10px 10px;
  scroll-behavior: smooth;
}
